{{define "subject"}} {{.Title}} {{end}}

{{define "plainBody"}}
You've successfully paid for your order on LabTracka. You'll be assigned to a phlebotomist as soon as possible.

Amount: {{.Amount}} NGN

{{end}}